In [1]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [3]:
s = pd.series([85, 90, 88], index=["maths", "science", "english"])
print(s)

AttributeError: module 'pandas' has no attribute 'series'

In [5]:
import pandas as pd
s = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])
print(s)

a    10
b    20
c    30
d    40
dtype: int64

In [6]:
#Access by index label
print(s['a'])

10

In [12]:
print(s[0])
print(s)

10
a    10
b    20
c    30
d    40
dtype: int64

C:\Users\User\AppData\Local\Temp\ipykernel_10640\3903717408.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s[0])

In [ ]:
print(s.iloc[0])
#accessing multiple values
print(s[['a', 'c']])

10
a    10
c    30
dtype: int64

In [ ]:
#slice data
print(s[1:3])

b    20
c    30
dtype: int64

In [ ]:
#access using condition boolean filtering
print(s[s > 20])

c    30
d    40
dtype: int64

In [14]:
print(s + 5)
print(s - 5)
print(s * 5)
print(s % 5)
print(s / 5)

a    15
b    25
c    35
d    45
dtype: int64
a     5
b    15
c    25
d    35
dtype: int64
a     50
b    100
c    150
d    200
dtype: int64
a    0
b    0
c    0
d    0
dtype: int64
a    2.0
b    4.0
c    6.0
d    8.0
dtype: float64

In [17]:
#statistical operation
print(s.mean())
print(s.max())
print(s.min())

25.0
40
10

In [20]:
import numpy as np

s = pd.series([10, 20, np.nan, 40])
print(s)

print(s.isnull())
print(s.notnull())

AttributeError: module 'pandas' has no attribute 'series'

In [24]:
import pandas as pd
data = {
    "Name": ["Amit", "Sara", "akash", "Riya",],
    "Days_Present": [22, 25, 18, 24,]
}
print(data)

{'Name': ['Amit', 'Sara', 'akash', 'Riya'], 'Days_Present': [22, 25, 18, 24]}

In [25]:
print(s + 5)
print(s - 5)
print(s * 5)
print(s % 5)
print(s / 5)

a    15
b    25
c    35
d    45
dtype: int64
a     5
b    15
c    25
d    35
dtype: int64
a     50
b    100
c    150
d    200
dtype: int64
a    0
b    0
c    0
d    0
dtype: int64
a    2.0
b    4.0
c    6.0
d    8.0
dtype: float64

In [ ]:
import pandas as pd


data = {
    "Name": ["Amit", "Sara", "John", "Riya", "Karan"],
    "Days": [22, 25, 18, 24, 20],
    "Total_Days": [25, 25, 25, 25, 25]
}

df = pd.DataFrame(data)
df["Attendance_%"] = (df["Days_"] / df["Total_Days"]) * 100

print(df)

    Name  Days_Present  Total_Days  Attendance_%
0   Amit            22          25          88.0
1   Sara            25          25         100.0
2   John            18          25          72.0
3   Riya            24          25          96.0
4  Karan            20          25          80.0

In [28]:
low_attendance = df[df["Attendance_%"] < 75]
print(low_attendance)

   Name  Days_Present  Total_Days  Attendance_%
2  John            18          25          72.0

In [ ]:
df["Days_Absent"] = df["Total_Days"] - df["Days_Present"] 
print(data)

In [44]:

import pandas as pd
names = ["amith","sara","sony"]
days = [22, 25, 18]

df = pd.DataFrame(data)

print(df)

print(df.mean())

   Name  Present_Days
0  Amit            22
1  Sara            25
2  John            18

TypeError: Could not convert ['AmitSaraJohn'] to numeric

In [43]:
import pandas as pd

# student attendance data
data = {
    "Name": ["Amit", "Sara", "John"],
    "Present_Days": [22, 25, 18]
}

df = pd.DataFrame(data)

print(df)

   Name  Present_Days
0  Amit            22
1  Sara            25
2  John            18

In [ ]:
import pandas as pd

# Student attendance data
names = ["Amith", "Sara", "Sony"]
days_present = [22, 25, 18]
total_days = [25, 25, 25]

# Create DataFrame
data = {
    "Name": names,
    "Days_Present": days_present,
    "Total_Days": total_days
}

df = pd.DataFrame(data)

df["Days_Absent"] = df["Total_Days"] - df["Days_Present"]            
df["Attendance_%"] = (df["Days_Present"] / df["Total_Days"]) * 100  
df["Bonus_Days"] = df["Days_Present"] + 2                            
df["Double_Present"] = df["Days_Present"] * 2                         


mean_attendance = df["Days_Present"].mean()      
max_attendance = df["Days_Present"].max()      
min_attendance = df["Days_Present"].min()       
std_attendance = df["Days_Present"].std()       

# Display DataFrame
print(df)

# Display statistics
print("\nStatistics:")
print("Mean Attendance:", mean_attendance)
print("Max Attendance:", max_attendance)
print("Min Attendance:", min_attendance)
print("Std Deviation:", std_attendance)

    Name  Days_Present  Total_Days  Days_Absent  Attendance_%  Bonus_Days  \
0  Amith            22          25            3          88.0          24
1   Sara            25          25            0         100.0          27
2   Sony            18          25            7          72.0          20

   Double_Present
0              44
1              50
2              36

Statistics:
Mean Attendance: 21.666666666666668
Max Attendance: 25
Min Attendance: 18
Std Deviation: 3.5118845842842465

In [45]:
import pandas as pd
data = {
    "name": ["sara","poornima","darshi"],
    "age": [21,24,23],
    "marks": [89,90,100]

}
df = pd.DataFrame(data)
print(df)

       name  age  marks
0      sara   21     89
1  poornima   24     90
2    darshi   23    100

In [48]:
import pandas as pd
students = [
           {"name": "poornima", "age":25, "marks":80},
           {"name":"sony", "age":23, "marks":84},
           {"name": "akash","age":22, "marks":98},
           {"name": "darshi","age":28, "marks":99},
           {"name": "hema","age":20, "marks":67},
           {"name": "vinutha","age":45, "marks":45},
           {"name": "sushh","age":56, "marks":35}
]
df = pd.DataFrame(students)
print(df)

       name  age  marks
0  poornima   25     80
1      sony   23     84
2     akash   22     98
3    darshi   28     99
4      hema   20     67
5   vinutha   45     45
6     sushh   56     35

In [49]:
print(df.head())

       name  age  marks
0  poornima   25     80
1      sony   23     84
2     akash   22     98
3    darshi   28     99
4      hema   20     67

In [50]:
print(df.tail())

      name  age  marks
2    akash   22     98
3   darshi   28     99
4     hema   20     67
5  vinutha   45     45
6    sushh   56     35

In [51]:
print(df.shape)

(7, 3)

In [52]:
print(df.columns)

Index(['name', 'age', 'marks'], dtype='object')

In [53]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    7 non-null      object
 1   age     7 non-null      int64
 2   marks   7 non-null      int64
dtypes: int64(2), object(1)
memory usage: 300.0+ bytes
None