In [1]:
import pandas as pd

data = {
    "Name": [" asha ", "RAHUL", "SiTa", "kiran "],
    "City": [" bangalore", "Mysuru ", "BANGALORE", "mysore"],
    "Gender": ["male", "Male ", " FEMALE", "female"],
    "Salary": ["₹45,000", "52000 ", " 48000", "₹51,000"]
}

df = pd.DataFrame(data)
print(df)

     Name        City   Gender   Salary
0   asha    bangalore     male  ₹45,000
1   RAHUL     Mysuru     Male    52000
2    SiTa   BANGALORE   FEMALE    48000
3  kiran       mysore   female  ₹51,000

In [4]:
df["Name"] = df["Name"].str.strip()
df["City"] = df["City"].str.strip()
df["Gender"] = df["Gender"].str.strip()

print(df)

    Name       City  Gender   Salary
0   asha  bangalore    male  ₹45,000
1  RAHUL     Mysuru    Male   52000
2   SiTa  BANGALORE  FEMALE    48000
3  kiran     mysore  female  ₹51,000

In [6]:
df["Name"] = df["Name"].str.title()
df["City"] = df["City"].str.title()
df["Gender"] = df["Gender"].str.title()
print(df)

    Name       City  Gender   Salary
0   Asha  Bangalore    Male  ₹45,000
1  Rahul     Mysuru    Male   52000
2   Sita  Bangalore  Female    48000
3  Kiran     Mysore  Female  ₹51,000

In [7]:
df["Name"] = df["Name"].str.title()
df["City"] = df["City"].str.title()
df["Gender"] = df["Gender"].str.lower()
print(df)

    Name       City  Gender   Salary
0   Asha  Bangalore    male  ₹45,000
1  Rahul     Mysuru    male   52000
2   Sita  Bangalore  female    48000
3  Kiran     Mysore  female  ₹51,000

In [8]:
df["City"] = df["City"].replace({
    "Bangalore": "Bengaluru",
    "Mysore": "Mysuru"
})
print(df)

    Name       City  Gender   Salary
0   Asha  Bengaluru    male  ₹45,000
1  Rahul     Mysuru    male   52000
2   Sita  Bengaluru  female    48000
3  Kiran     Mysuru  female  ₹51,000

In [10]:
df["Salary"] = df["Salary"].str.replace("$", "", regex=False)
df["Salary"] = df["Salary"].str.replace(",", "", regex=False)

print(df)

    Name       City  Gender  Salary
0   Asha  Bengaluru    male  ₹45000
1  Rahul     Mysuru    male  52000
2   Sita  Bengaluru  female   48000
3  Kiran     Mysuru  female  ₹51000

In [17]:
df["Salary"] = df["Salary"].astype(int)
print(df)

ValueError: invalid literal for int() with base 10: '₹45000'